-vscode/

#Data
data/Crime_Data_from_2020_to_Present_20240914.csv
data/Crime_Data_from_2020_to_Present_full_20241010-full.csv
data/Crime_Data_from_2020_to_Present_full_part2_20241010.cvs
data/Crime_Data_from_2020_to_Present_full_part2_zip_20241010.cvs
*.zip
data/Crime_Data_from_2020_to_Present_full_20241010-full.csv
data/Crime_Data_from_2020_to_Present_full_part2_zip_20241010.cvs
data/Crime_Data_from_2020_to_Present_full_part2_20241010.cvs
